{# footer.twig #}
		</div>
		<div id="user-profile" style="display:none">
			First Name: <b>{{ user.firstName|e }}</b><br>
			Last Name: <b>{{ user.lastName|e }}</b><br>
			Email: <b>{{ user.email|e }}</b><br>
			Role: <b>{{ user.messagingRole|e }}</b><br>
			Type: <b>{{ user.type|e }}</b><br>
			Last Login Date: <b>{{ user.lastLoginDate|e }}</b><br>

		</div>
		<script src="../js/admin.js"></script>
	</body>
</html>