{# footer.twig #}
		</div>
		<div id="user-profile" style="display:none">
			First Name: <b>{{ user.firstName }}</b><br>
			Last Name: <b>{{ user.lastName }}</b><br>
			Email: <b>{{ user.email }}</b><br>
			Role: <b>{{ user.messagingRole }}</b><br>
			Type: <b>{{ user.type }}</b><br>
			Last Login Date: <b>{{ user.lastLoginDate }}</b><br>

		</div>
		<script src="../js/admin.js"></script>
	</body>
</html>