{% include 'admin/header.twig' %}
{% include 'admin/menu.twig' %}
{% include 'admin/sidebar.twig' %}

<main class="mdl-layout__content">

	<div class="mdl-js-layout">
	
		{# -------------------------------- #}
		{# ------------ Header------------- #}
		{# -------------------------------- #}
		<header class="mdl-layout__header ui-page-header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Mapping</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation">
					<form id="generate_json_map" method="GET" action="{{base_url}}/admin/mapping/map">
					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
						Generate JSON map
					</button>
					</form>
				</nav>
			</div>

			<!-- Page Tabs -->
			<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
			  <a href="#mapping-leads" class="mdl-layout__tab is-active">Leads</a>
			  <a href="#mapping-contacts" class="mdl-layout__tab">Contacts</a>
			  <a href="#mapping-campaigns" class="mdl-layout__tab">Campaigns</a>
			</div>
		</header>
		
		{# -------------------------------- #}
		{# ------------ CSRF  ------------- #}
		{# -------------------------------- #}
		
		<form id="csrf" method="GET" action="">
			<input type="hidden" name="{{csrf.namekey}}" value="{{csrf.name}}">
			<input type="hidden" name="{{csrf.valuekey}}" value="{{csfr.value}}">
		</form>
		
		{# -------------------------------- #}
		{# ------------ Tab Content ------- #}
		{# -------------------------------- #}
		
		<!-- Content area under page header -->
		<div class="mdl-layout__content">
				{% if error %}
					<div class="mdl-components__warning">
						<b>Error:</b>
						{{message}}
					</div>
				{% endif %}
				
				{% if success %}
					<div class="mdl-components__success">
						{{message}}
					</div>
				{% endif %}
			<section class="mdl-layout__tab-panel is-active" id="mapping-leads">
				<div class="ui-page-content">
				{% include 'admin/pages/lead_form.twig' %}
				</div>
			</section>	
			
			<section class="mdl-layout__tab-panel" id="mapping-contacts">
				<div class="ui-page-content">
					{% include 'admin/pages/contact_form.twig' %}
				</div>
			</section>
			
			<section class="mdl-layout__tab-panel" id="mapping-campaigns">
				<div class="ui-page-content">
					{% include 'admin/pages/campaign_form.twig' %}
				</div>
			</section>
		</div>
		
	</div>	
		
</main>

{% include 'admin/footer.twig' %}
