{% include 'admin/header.twig' %}
{% include 'admin/menu.twig' %}
{% include 'admin/sidebar.twig' %}

<main class="mdl-layout__content">

	<div class="mdl-js-layout">
	
		{# -------------------------------- #}
		{# ------------ Header------------- #}
		{# -------------------------------- #}
		<header class="mdl-layout__header ui-page-header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Settings</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation">

				</nav>
			</div>

			<!-- Page Tabs -->
			<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
			  <a href="#settings-sfdc" class="mdl-layout__tab is-active">Salesforce</a>
			  <a href="#settings-cep" class="mdl-layout__tab">Mapp CEP</a>
			  <a href="#settings-global" class="mdl-layout__tab">Global</a>
			</div>
		</header>

		{# -------------------------------- #}
		{# ------------ Tab Content ------- #}
		{# -------------------------------- #}
		
		<!-- Content area under page header -->
		<div class="mdl-layout__content">

		
		{# -------------------------------- #}
		{# -----Global Settings Start ----- #}
		{# -------------------------------- #}
			<section class="mdl-layout__tab-panel is-active settings" id="settings-sfdc">
				<div class="ui-page-content">

			{# -------------------------------- #}
			{# ---------Form Start ------------ #}
			{# -------------------------------- #}
				<form id="test_connection" method="GET" action="{{base_url}}/admin/settings/connection"></form>
				<form id="test_oauth_connection" method="GET" action="{{base_url}}/admin/settings/authorize"></form>
				<form id="" method="POST" action="{{base_url}}/admin/settings/create">

				
							{# -------------------------------------------------------------------------------- #}
							{# -------------------------------Actions Card--------------------------------------#}
							{# -------------------------------------------------------------------------------- #}
							<section class="section--center mdl-grid mdl-shadow--2dp white">
									<div class="mdl-card mdl-cell mdl-cell--12-col">

										<div class="section__text mdl-cell mdl-cell--6-col-desktop mdl-cell--3-col-tablet mdl-cell--3-col-phone">
										  <h5>Salesforce Settings</h5>
										  Define and test the connection to your Salesforce instance and transfer options
										</div>
										
										{% if error %}
											<div class="mdl-components__warning">
												<b>Error:</b>
												{{error_message}}
											</div>
										{% endif %}
										
										{% if success %}
											<div class="mdl-components__success">
												{{success_message}}
											</div>
										{% endif %}
										<hr>
										<div class="section__text mdl-cell mdl-cell--6-col-desktop mdl-cell--3-col-tablet mdl-cell--3-col-phone">
											<!-- Submission -->
											<button id="setting_sfdc_submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
												Save
											</button>
											<!-- Submission -->
											<button id="setting_sfdc_reset" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
												Reset
											</button>
											<!-- Submission -->
											<button id="setting_sfdc_test_connection" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
												Test Connection
											</button>
											<!-- Submission -->
											<button id="setting_sfdc_test_oauth_connection" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
												Authorize App
											</button>
											</form>
										</div>	
									</div>
							
							{# -------------------------------------------------------------------------------- #}
							{# -------------------------------Settings -----------------------------------------#}
							{# -------------------------------------------------------------------------------- #}
								<div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">

									<ul class="mdl-list">
									{% for setting in sfdc_settings %}
									
									  <li class="mdl-list__item mdl-list__item--three-line" style="max-width:800px;">
										<span class="mdl-list__item-primary-content">
										  <i class="material-icons" style="font-size:30px;width:30px;height:30px;">{{setting.icon}}</i>
										  <span>{{setting.label}}</span>
										  <span class="mdl-list__item-text-body" style="max-width:500px;">
												{{setting.description}}
										  </span>
										</span>
										<span>
											{% if setting.type == 'password' %}
												<i class="material-icons toggle-show-password">remove_red_eye</i>
											{% endif %}
										</span>
										
										{% if setting.type == 'text' or setting.type == 'email' or setting.type == 'password' %}
											<span class="mdl-list__item-secondary-content">
												  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
													<input class="mdl-textfield__input" id="setting_{{setting.name}}" type="{{setting.type}}" name="{{setting.name}}" value="{{setting.value}}" {% if setting.required %}data-required{% endif %}>
													<label class="mdl-textfield__label" for="setting_{{setting.name}}"></label>
													<span class="mdl-textfield__error">This is a required field</span>
												  </div>
											</span>
										{% endif %}

										{% if setting.type == 'checkbox' %}
											<span class="mdl-list__item-secondary-content">
											<span class="mdl-list__item-secondary-action">
												  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="setting_{{setting.name}}">
												   <input class="mdl-switch__input" id="setting_{{setting.name}}" type="{{setting.type}}" name="{{setting.name}}" {% if setting.value == 1 %}checked{% endif %}>
												  </label>
												</span>
											</span>
										{% endif %}

										{% if setting.type == 'select' %}
											<span class="mdl-list__item-secondary-content">
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
													<input class="mdl-textfield__input" type="text" id="sfdc_function{{ cep_standard_attribute.name }}" name="sfdc_function" readonly tabIndex="-1">
													<ul for="sfdc_function{{ cep_standard_attribute.name }}" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
														<li class="mdl-menu__item" data-val="1">1</li>
														<li class="mdl-menu__item" data-val="2">2</li>
													</ul>
												</div>
											</span>
										{% endif %}
										
										

									  </li>
									  <hr>
									{% endfor %}
									</ul>
								
								
								</div>
							  </div>
							</div>
						</section>
					</form>
					
			{# -------------------------------- #}
			{# ---------Form End-- ------------ #}
			{# -------------------------------- #}	
				</div>
				
			</section>
		{# -------------------------------- #}
		{# -----Global Settings End-- ----- #}
		{# -------------------------------- #}

			<section class="mdl-layout__tab-panel settings" id="settings-cep">
				<div class="ui-page-content">

				</div>
			</section>
			<section class="mdl-layout__tab-panel settings" id="settings-global">
				<div class="ui-page-content">
				
				</div>
			</section>

	</div>
</main>

{% include 'admin/footer.twig' %}